.nav{
    margin-top: 4px ;
}
.header{
    background-color: rgb(35, 35, 35);
    text-align: center;
    color:cornsilk;
    font-size: 1.5rem;
    padding: 20px;
    max-height: 150px;
    
}
.nav a{
    color: antiquewhite;
    text-decoration: none;
    margin-right: 20px;
}
img{
    height: 100%;
    width:100%;
    margin-top: 2px;
}
.footer{
    background-color:rgb(35, 35, 35);
    text-align: center;
    padding: 20px;
    font-size: large;
    color: antiquewhite;
    width: 100%;
    bottom: 0;

}
body{
    margin: 0%;
    padding: 0%;
    

}
.container{
    position: absolute;
    top: 20%;
    bottom: 50%;
    right:35%;
    
}
h2{
    margin-bottom: 10px;
    font-size: 3rem;
    color:rgb(35, 35, 35);
}
.p{
    text-align: center;
    color: rgb(35, 35, 35);
    font-size: larger;
}
